body{
  margin: 0;
  background-color: #2C2B3D;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;

  min-height: 100vh;
}

#page{
  width: 1092px;
  margin: 0 auto;
  padding-top: 71px;
}

/*----------------------------------Header---------------------------------*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul{
  list-style: none;
  display: flex;
  gap: 64px;  

}
/*------------Links Header + Footer----------*/
a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #00BFA6;
}

/*----------------------------------Main----------------------------------*/
#hero{
  margin: 101px 0 157px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#text{
  width: 604px;
  text-align: center;
}

#text span{
  color: #00BFA6;
  font-weight: bold;
}

h1{
  font-size: 36px;
  line-height: 40px;
  width: 614px;
}

#text p{
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
}

/*----------------------------------Footer---------------------------------*/
footer{
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}

.linha{
  border-bottom: 1px solid #00BFA6;
  width: 568px;
  margin: 0 auto 27px;
}

/*----------------------------------Elemento-Fixed---------------------------------*/
#img-fixa{
  position: fixed;
  left: 20px;
  bottom: 20px;
}